<!-- Setorder Limit Range -->
<form action="/setlimitrange" method="POST">
    <div class="setorder">
        <div class="login-screen">
            <div class="app-title insetshadow">
                <h1>Limit Range</h1>
            </div>
            <div class="login-form">
                <div class="control-group displaynone">
                    <input type="text" class="login-field" value="BTCBUSDPERP" placeholder="BTCBUSDPERP" name="ticker" required="required">
                </div>
                <div class="control-group">
                    <input type="number" class="login-field" value="10.0" placeholder="10.0" name="riskreward" step=0.01 required="required">
                </div>
                <div class="control-group displaynone">
                    <input type="text" class="login-field" value="LimitRange" placeholder="LimitRange" name="ordertype" required="required">
                </div>
                <div class="control-group">
                    <select name="orderaction">
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                    </select>
                </div>
                <div class="control-group">
                    <input type="number" class="login-field" placeholder="stoploss" name="stoploss" step=0.1 required="required">
                </div>
                <div class="control-group">
                    <input type="number" class="login-field" placeholder="High" name="orderprice" step=0.1 required="required">
                </div>
                <div class="control-group">
                    <input type="number" class="login-field" placeholder="Low" name="orderprice2" step=0.1 required="required">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
            </div>
        </div>
    </div>
</form>