<!-- Setorder Strop Trail -->
<form action="/stoptrail" method="POST">
    <div class="setorder">
        <div class="login-screen">
            <div class="app-title insetshadow">
                <h1>Stop Trail</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <select name="orderaction">
                        <option value="BUY">Buy</option>
                        <option value="SELL" selected>Sell</option>
                    </select>
                </div>
                <div class="control-group">
                    <input type="number" class="login-field" placeholder="orderprice" name="orderprice" step=0.1 required="required">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
            </div>
        </div>
    </div>
</form>